<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndiaPoliticalEdge"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.indiapoliticaledge.ui.SplashIntroPagerScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IndiaPoliticalEdge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.indiapoliticaledge.ui.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgotPwdScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AddNewMLAScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SubscriptionFeesScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SuperAdminScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ViewMLAInfoScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CandidateProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ManageMLASubscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UpdateMLAScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UpdateVoterScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OptionsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MLAInfoDrawerScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CandidateHomeScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ListOfVotersScreen"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvKdYasIAmefShPrgPwjAPKSmzKdnDqxY" />
        <uses-library android:name="com.google.android.maps" />

    </application>

</manifest>